---
import Layout from '../layouts/Layout.astro';

---

<Layout title='Page not found'>
   <div class="text-center h-[30vh]">
    <h1 class="text-3xl">The page is not found</h1>
    <h2 class="my-4">
      Probably there is typos in url route or page isn't complete yet
    </h2>

    <a 
      href="/" 
      class="rounded-full bg-white text-black py-3 
      px-6 inline-block text-sm m-1"
    >
      Back to home page
    </a>
  </div> 
</Layout>